<% title 'Gene Details' %>
<% page_header 'Gene Details' %>
<% optional_description @gene.name %>
<% edit_button 'gene' %>
<% back_button %>

<p>
  <strong>Name:</strong>
  <%= @gene.name %>
</p>

<p>
  <strong>Original sequence:</strong>
  <div class="flex-wrap wrap-text"><%= @gene.original_sequence %></div>
</p>